/* Update in GitHub  */
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Source+Sans+Pro&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

h1{
  text-align: center;
  font-size: 50px;
  margin-top: 30px;
}

body{
  /* background-color: blanchedalmond; */
  /* background-color: rgb(255, 190, 190); */
  background-color: hsl(11, 73%, 96%);
}
/* .navbar{
  background-color: rgb(255, 238, 219);
  padding: 10px;
  font-size: 25px;
}
.navbar .ulnav{
  display: flex;
  list-style: none;
}

.navbar .ulnav li{
  padding-left: 20px;
}
.navbar .ulnav li a{
  text-decoration: none;
}

.logo0 {
  color: red;
  font-size: 50px;
  font-family: 'Roboto', sans-serif; 
  font-weight: bolder;

} */
/* #title0{
  margin-top: 15px;
  // align-items: center; 
} */
.para{
  font-size: 30px;
  text-align: center;
}
/* .logo{
  top: 10px;
  right: 20px;
  font-size: 30px;
  position: absolute;
} */

/* .logo i:hover{
  cursor: pointer;
  color: gray;
} */

/* *{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} */

.container{
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;

}
.card{
  background: rgb(241, 239, 239);
  width: 600px;
  /* height: 500px; */
  margin: 10px;
  border-radius: 15px;
  box-shadow: 2px 2px 5px black;
}

.card h2{
  display: flex;
  justify-content: center;
}

.card ul{
  padding: 35px;
}

.card-image {
  
  height: 170px;
  margin-bottom:15px;
  background-size:cover;
  border-radius: 15px 15px 0 0 ;
}

.card-1{
  background-image: url('../images/img1.jpeg');
}

.card-2{
  background-image: url('../images/img2.jpeg');
}

.card-3{
  background-image: url('../images/img3.jpeg');
  background-position: center;
}
.card-4{
  background-image: url('../images/img4.jpeg');
  background-position: center;
}
.card-5{
  background-image: url('../images/img5.jpeg');
  background-position: center;
}

.card:hover{
  /* background-color: antiquewhite; */
  background-color: rgb(255, 190, 190);
  cursor: pointer;
  transform: scale(1.03);
  transition: all 1s ease;
}



/* .list{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  background-color: azure;
}
.footer{
  padding: 40px ;
  align-items:  center;
}
.social{
  
  padding-bottom: 25px;
  font-size: 30px;
  border: 1px solid #ccc;
  line-height:38px ;
  display: inline-block;
}
.footer ul li { */
  /* text-decoration: none; */
   
  /* display: inline ;
  padding: 0.15px;
} */

.footer{
  background-color: black;
  color: white;
  margin-top: 50px;
  padding: 22px;
  display: flex;
  justify-content: space-between;
}

.icons i{
  cursor: pointer;
  font-size: 25px;
  padding: 13px;
}

.icons i:hover{
  color: gray
}
